@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
input {
  appearance: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.inner {
  max-width: 1440px;
  margin: 0 auto;
}
.header__menu {
  display: flex;
  justify-content: space-around;
}
.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.searchs__wrapper {
  position: relative;
  width: 750px;
  height: 66px;
  border-radius: 32px;
  border: 1px solid #6a6a6a;
  padding: 5px;
  padding-right: 50px;
  display: flex;
  gap: 0;
  place-content: center;
  input {
    width: 1fr;
    height: 30px;
    border: none;
  }
}
.serching__wrapper {
  padding: 0 10px;
  border: none;
  max-width: 170px;
  border-right: #6a6a6a9f 1px solid;
}
nav {
  width: 100%;
  height: 150px;
  background-image: url(./img/Background.png);
  background-repeat: repeat;
  border-bottom: 1px solid #6a6a6a23;
}


 .searchs__wrapper::after {
  content: "";
  position: absolute;
  background-image: url(./img/Button.png);
  background-size: cover;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}
.header__btns-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.black__bg {
  background-color: black;
  color: white;
  display: flex;align-items: center;
  justify-content: center;
}

.header__btn-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  button {
    border: none;
    border-radius: 50%;
    padding: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.header__logo-min {
  display: none;
}

.hero__wrapper {
  display: flex;
  gap: 30px;
  width: 100%;

  margin-bottom: 50px;

}

.hero__dubai {
  margin-top: 60px;
    margin-left: 20px;
}

.bi-heart {
  position: absolute;
  right: 10px;
  top: 10px;
}

.hero__card {
  position: relative;
}

.hero__img {
  position: relative;
  border-radius: 10px;
  width: 180px;
  height: 170px;
}
.hero__position {
  position: absolute;
  left: 6px;
  top: 6px;
  font-family: Roboto;
  font-size: 13px;
  background-color: whitesmoke;

  border-radius: 10px;
  padding: 3px;
}

.hero__title {
  font-family: Roboto;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 16px;
  display: inline;
}

.hero__text {
  color: #6a6a6a;
  position: relative;
}

.hero__text_box {
  display: flex;
  gap: 30px;
}

.hero__text--star::before {
  content: "";
  position: absolute;
  background-image: url(imgs/Vector.svg);
  background-size: cover;
  top: 4px;
  left: -17px;
  width: 10px;
  height: 10px;
}

.footer {
  margin-top: 100px;
  padding-top: 50px;
  padding-left: 20px;
  background-color: #f7f7f7;
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}
.footer__support {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: left;
}
.footer__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
}

.footer__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
}

.footer__bottom {
  display: flex;
  justify-content: space-around;
  gap: 200px;
  margin-top: 20px;
}
.footer__left {
  display: flex;
  gap: 25px;
}

.bi {
}
.bi-facebook {
}
.bi-twitter-x {
}

.footer__span {
  display: inline-block;
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  height: 2px;
  background-color: grey;
}
.hero__card_title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
}
.big__title {
  font-family: Roboto;
font-weight: 500;
font-size: 22px;
line-height: 26px;
letter-spacing: 0%;
color: #222222;
}
.cards {
  display: flex;
  gap: 20px;
}
.card__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #222222;
}
.card__sup-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 13.89px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #6a6a6a;
}
.sup__title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #6a6a6a;
}
.header__title {
  font-family: Roboto;
  color: grey;
}

.header__active {
  border-bottom: 2px solid black;
  font-weight: 700;
  color: black;
}
.header__logo-only {
  display: none;
}
.search__text {
  display: inline-block;
  width: 100px;
}
.search__input {
  display: inline-block;
  width: 100px;
}
.header__inp {
  padding: 10px;
  display: flex;
  width: 410px;

  border-radius: 20px;
  border: none;
  box-shadow: 1px 3px 10px;
  display: none;
}
.header__inp::placeholder {
  text-align: center;
}


.headerr{
  border-bottom: 1px solid #dcd9d9;
}

.prophile {
}

.prophile__wrapper {
  display: flex;
  margin-left: 100px;
}
.propfhilee {
border-right: 1px solid #dcd9d9;
padding-right: 50px;
padding-bottom: 60px;
}
.prophile__title {
font-family: Roboto;
font-weight: 600;
font-size: 32px;
line-height: 36px;
letter-spacing: 0%;
margin-top: 70px;


margin-bottom: 20px;

}
.prophile__list {
  display: flex;
  flex-direction: column;
  align-items: center;
gap: 19px;
}
.prophile__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 70px 10px 20px;
   
  border-radius: 10px;
}
.prophile__item--active {
  background-color: #F2F2F2;
}
.prophile__name {
  font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;

}





.prophile__about_me {

  margin-left: 150px;
  margin-top: 50px;
}



 
.flex {
  display: flex;align-items: center;gap: 40px;
}
.prophile__subtitle {
  font-family: Roboto;
font-weight: 600;
font-size: 32px;
line-height: 36px;
letter-spacing: 0%;
margin-bottom: 20px;

}
.prophile__btn {
  padding: 8px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background-color: #F2F2F2;
}
.prophile__accaunt {
box-shadow: 0px 8px 24px 0px #0000001A;
padding: 30px 0;
 border-radius: 10px;
   min-width: 335px;

display: flex;align-items: center;flex-direction: column;
}
.prophile__text_box {
}
.prophile__big_text {
  font-family: Roboto;
font-weight: 500;
font-size: 22px;
line-height: 26px;
letter-spacing: 0%;

}
.prophile__text {
  font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0%;
color: #6A6A6A;
width: 220px;
margin-top: 10px;
}
.prophile__btn_start {
background: linear-gradient(90deg, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
border: none;
padding: 15px 25px;
color: white;
border-radius: 12px;
margin-top: 12px;
}

.prophile__user_name {
  font-family: Roboto;
 
font-weight: 600;
font-size: 31.5px;
line-height: 35.87px;
letter-spacing: 0%;
text-align: center;
color: #222222;

}
.prophile__user_info {
  font-family: Roboto;
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
color: #6A6A6A;
}


.prophile__title_responsive{
  display: none;
font-family: Roboto;
font-weight: 600;
font-size: 32px;
line-height: 36px;
letter-spacing: 0%;
margin-bottom: 20px;
}


.prophile__none{
  display: none;
}
.prophile__settings{
  display: none;
  margin-top: 20px;

}
.z{
  font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
color: #222222;
}
@media only screen and (max-width: 1080px){
.prophile__about_me{
  margin-left: 30px;
}
.prophile__wrapper{
  margin-left: 0px;
}
.hero__wrapper{
    overflow-x: scroll;
}
}




@media only screen and (max-width: 850px){
.prophile__settings{
  display: flex;
  align-items: left;flex-direction: column;
  gap: 35px;

}
  .prophile__title_responsive{
  display: inline-block;
}

.prophile__none{
  display: flex;
  gap: 15px;
  margin-top: 16px;
}

.prophile__wrapper{
  flex-direction: column-reverse;
}
  .prophile__accaunt{
    max-width: 515px;
    min-width: 250px;
      
  }

.header__wrapper{
  padding-bottom: 15px;
}

.prophile__about_me{
flex-direction: column;
display: flex;
align-items: center;
margin-left: 0;
}
.prophile__text_box{
  display: none;
}
.x{
  display: none;
}
.c{
  display: inline-block;
}
.propfhilee{
  display: none;
}
  .footer__bottom{
flex-direction: column;
gap: 30px;


  }

  .header__btns-text {
    display: none;
  }
  .header__logo-img {
    display: none;
  }
  .header__logo-only {
    display: inline-block;
  }
  .serching__wrapper {
    width: 140px;
  }
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
    gap: 0;
  }
  .header__logo-only {
    display: none;
  }
  .header__logo-img {
    display: none;
  }

  .header__btn-menu {
    display: none;
  }
}

@media only screen and (max-width: 625px){
.prophile__settings{
    margin-left: 20px;
}
  .prophile__accaunt{
    max-width: 685px;
    min-width: 190px;
  }
  .footer__left{
    display: none;
  }

.search{
  display: none;
}
.header__logo-only{
  display: none;
}
.black__bg{
  display: none;
}
}
@media only screen and (max-width: 625px) {
  .search {
    display: none;
  }
  .header__logo-only {
    display: none;
  }
  .black__bg {
    display: none;
  }

  .header__btns-burger {
    display: none;
  }
  .header__inp {
    display: inline-block;
    margin-left: 30px;
    margin-top: 70px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__wrapper {
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
  }
  .footer__bottom {
    align-items: center;
  }
}

@media only screen and (max-width: 460px) {
  .header__inp{
    width: 300px;
  }
  .header__img{
    width: 50px;
    height: 50px;
  }
  
}